Repository afkcodes/sunoh-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["npm run lint", "npm run prettier"],
  "*.{json,md,yml}": "prettier --write"
}

minor changes for prod crash
  api/index.ts
  src/app.ts
  tsconfig.json
  vercel.json
Due: npm run lint, npm run prettier, prettier --write

move to biome and update dependecies
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  api/dev-server.ts
  api/index.ts
  biome.json
  package.json
  src/app.ts
  tsconfig.json
Due: npm run lint, npm run prettier, prettier --write

husky updates
  .huskyrc
  .lintstagedrc.json
  api/index.ts
  package.json
Due: npm run lint, npm run prettier, prettier --write

changes for home and modules endpoint
  app.ts
  biome.json
  src/app.ts
  src/config/config.ts
  src/helpers/common.ts
  src/helpers/dataConfig.ts
  src/helpers/dataExtractor.ts
  src/helpers/http.ts
  src/helpers/type.ts
  src/helpers/validators.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier, prettier --write

allow cors and minor endpoint updates
  api/index.ts
  package.json
  src/config/config.ts
  src/saavn/controller.ts
Due: npm run lint, npm run prettier, prettier --write

add album details endpoint, w/ reco and trending
  src/config/config.ts
  src/helpers/dataConfig.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier

fix dl links
  package.json
  src/helpers/common.ts
  src/saavn/helper.ts
Due: npm run lint, npm run prettier, prettier --write

add token to response
  src/helpers/common.ts
  src/helpers/dataConfig.ts
  src/saavn/helper.ts
Due: npm run lint, npm run prettier

albums endpoint completed
  api/dev-server.ts
  src/config/config.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier

dominant color and routes for mix and radio
  package.json
  src/config/config.ts
  src/helpers/dataConfig.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier, prettier --write

add radio-route for gaana
  package.json
  src/app.ts
  src/config/config.ts
  src/gaana/controller.ts
  src/gaana/helper.ts
  src/gaana/route.ts
  src/helpers/common.ts
  src/helpers/dataConfig.ts
  src/helpers/http.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier, prettier --write

send only dominant color
  src/saavn/helper.ts
Due: npm run lint, npm run prettier

stop sending dominant colors
  src/saavn/helper.ts
Due: npm run lint, npm run prettier

top search route
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier

autocomplete route
  src/config/config.ts
  src/helpers/dataConfig.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier

added routes for search and artist, song details and other changes for images
  api/index.ts
  src/app.ts
  src/config/config.ts
  src/helpers/common.ts
  src/helpers/dataConfig.ts
  src/helpers/dataExtractor.ts
  src/proxyImage.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
  src/youtube/controller.ts
  src/youtube/helpers.ts
  src/youtube/routes.ts
Due: npm run lint, npm run prettier

fix api version for search
  src/saavn/controller.ts
Due: npm run lint, npm run prettier

add play endpoint and other fixes for artist
  src/app.ts
  src/helpers/dataConfig.ts
  src/saavn/controller.ts
Due: npm run lint, npm run prettier

play endpoint
  src/helpers/dataConfig.ts
  src/play.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
Due: npm run lint, npm run prettier

added recommended songs endpoint and remove podcast sections from home
  src/helpers/dataConfig.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run prettier

update dependencies
  package.json
Due: prettier --write

fix artist for songs and lyrics added
  src/saavn/controller.ts
  src/saavn/helper.ts
Due: npm run lint, npm run prettier

update for custom deployment
  package.json
Due: prettier --write

dont send raw data
  package.json
  src/saavn/controller.ts
Due: npm run lint, npm run prettier, prettier --write

add valkey for cache
  package.json
  src/app.ts
  src/helpers/cache.ts
  src/saavn/controller.ts
  vercel.json
Due: npm run lint, npm run prettier, prettier --write

reduce cache time and delete key on restart
  src/app.ts
  src/helpers/cache.ts
Due: npm run lint, npm run prettier

websocket impl
  api/dev-server.ts
  package.json
  src/app.ts
  src/websocket/liveMusicManager.ts
  src/websocket/routes.ts
  src/websocket/types.ts
Due: npm run lint, npm run prettier, prettier --write

jam session
  src/app.ts
  src/websocket/liveMusicManager.ts
  src/websocket/routes.ts
  src/websocket/types.ts
Due: npm run lint, npm run prettier

jam session updates
  src/websocket/liveMusicManager.ts
Due: npm run lint, npm run prettier

with invite session
  src/websocket/liveMusicManager.ts
  src/websocket/types.ts
Due: npm run lint, npm run prettier

fix duplicates in queue
  src/websocket/liveMusicManager.ts
Due: npm run lint, npm run prettier

fix initial track playback
  src/websocket/liveMusicManager.ts
Due: npm run lint, npm run prettier

fix disconnection
  src/websocket/liveMusicManager.ts
Due: npm run lint, npm run prettier

session cleanup
  src/websocket/liveMusicManager.ts
  src/websocket/types.ts
Due: npm run lint, npm run prettier

sync and notification fixes
  src/websocket/liveMusicManager.ts
  src/websocket/types.ts
Due: npm run lint, npm run prettier

sync play
  src/websocket/liveMusicManager.ts
  src/websocket/types.ts
Due: npm run lint, npm run prettier

fix(home_modules): exclude new in mumbai key
  api/dev-server.ts
  src/saavn/helper.ts
  src/websocket/liveMusicManager.ts
  src/websocket/routes.ts
  src/websocket/types.ts
Due: npm run lint, npm run prettier

feat(lyrics): lyrics route
  package.json
  src/app.ts
  src/gaana/controller.ts
  src/helpers/lyricsParser.ts
  src/lyrics/lyrics.ts
  src/lyrics/route.ts
Due: npm run lint, npm run prettier, prettier --write

chore(readme): update readme
  .lintstagedrc.json
  README.md
  biome.json
Due: prettier --write

feat(spotify_import): import spotify playlist
  package.json
  src/app.ts
  src/spotify/controller.ts
  src/spotify/route.ts
  src/spotify_import/maptoSaavn.ts
  src/spotify_import/spotify_playlist.ts
Due: npm run lint, npm run prettier, prettier --write
